@import url("../css/fonts.css");

$main-title-color: #333461;
$main-text-color: #4A556C;

%mainBtn {
  border: 0;
  outline: none;
  background-color: #20AD96;
  width: 193px;
  height: 40px;
  font-family: KumbhSans-SemiBold, sans-serif;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

%section-title {
  font-family: KumbhSans-ExtraBold, sans-serif;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
  color: $main-title-color;
}

%display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: KumbhSans-Regular, sans-serif;
}

.burger-menu {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

.wrapper {

  max-width: 1440px;
  margin: 0 auto;


}

.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;

}

.logo {
  margin-right: 555px;
}

nav {
  display: flex;
  background: #ffffff;
  position: fixed;
  height: 60px;
  align-items: center;
  z-index: 10000000;
}

.navbar {
  @extend %display-flex;
  justify-content: start;

  width: 100%;
  z-index: 10;


  .nav-menu {
    @extend %display-flex;
    width: 576px;
  }

  .nav-list {
    overflow: hidden;
  }


}

.nav-link {
  letter-spacing: -2%;
  font-size: 15px;
  line-height: 24px;
  position: relative;
  transition: 0.33s linear;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #20AD96;
    transition: 0.33s linear;
    bottom: -2px;
    left: 0;
  }

}

.nav-link.active {
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #20AD96;
    transition: 0.33s linear;
    bottom: -2px;
    left: 0;
  }
}

.nav-link:hover.nav-link::before {
  width: 100%;
}

.nav-btn {
  @extend %mainBtn;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #ffffff;
  }
}

header {
  background-color: #FAF8F6;
}

.section-hero {
  padding-top: 60px;
  @extend %display-flex;
  align-items: start;

  .hero-info {
    position: relative;

    .sup-title {
      padding-top: 140px;
      color: $main-text-color;
      font-size: 16px;
      line-height: 24px;

    }

    .title {
      @extend %section-title;
      margin: 6px 0 18px 0;
      font-size: 72px;
      line-height: 86px;
      width: 520px;
      height: 172px;
    }

    .text {
      font-size: 18px;
      line-height: 29px;
      width: 545px;
      height: 116px;
      margin-bottom: 18px;
    }

    button {
      @extend %mainBtn;
      margin-bottom: 141px;

      a {
        color: #ffffff;
      }
    }
  }

  .hero-image {

    .image {
      right: 0;
      width: 462px;
      z-index: 3;
      height: 603px;
      translate: 20px 120px;
      background: url("../images/jpg/hero.jpg") no-repeat;
    }

    .hero-overlay {
      @extend %display-flex;
      justify-content: flex-start;
      width: 237px;
      height: 104px;
      background: #ffffff;
      translate: -60% -40%;

      .title {
        margin-left: 16px;
        font-family: AvertaStd-Black, sans-serif;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.03em;


      }

      .sub-title {
        font-size: 12px;
        letter-spacing: -1%;
        font-family: AvertaStd-Regular, sans-serif;
      }
    }
  }
}

.section-introduction {
  margin-top: 150px;

  .row {
    @extend %display-flex;
    align-items: start;

    .title {
      @extend %section-title;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.01em;
    }

    .text, p {
      font-family: KumbhSans-Regular, sans-serif;
      font-size: 17px;
      line-height: 25px;
      color: $main-text-color;
    }

    p {
      margin-top: 20px;
    }
  }

  .row {
    .card {
      width: 380px;
      height: 328px;
      display: flex;
      flex-direction: column;

      padding: 40px;

      .card-head {
        margin-bottom: 32px;
      }

      .card-body {
        margin-bottom: 16px;
        font-family: KumbhSans-Bold, sans-serif;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.03em;
        color: #041434;
      }

      .card-footer {
        color: $main-text-color;
        font-size: 16px;
        letter-spacing: -2%;
      }
    }
  }
}

.section-review {
  background: #FAF8F6;
  padding: 120px 0 169px 0;

  .title {
    @extend %section-title;
    width: 530px;
    height: 112px;
    margin-bottom: 37px;
  }

  .cards {
    @extend %display-flex;
    width: 100%;


    .card {
      width: 400px;
      height: 391px;
      background-color: #ffffff;
      padding: 48px;
      position: relative;

      &:nth-child(2) {
        .avatar {
          background: url("../images/svg/Catherine.svg");
        }
      }

      &:last-child {
        .avatar {
          background: url("../images/svg/Jane2.svg");
        }
      }

      .avatar {
        width: 70px;
        height: 70px;
        background: url("../images/svg/jane.svg") no-repeat;
        border-radius: 50%;
        overflow: hidden;


      }


      .card-head, .card-head span {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.03em;

        span {
          font-family: KumbhSans-Bold, sans-serif;
        }

      }

      .card-body {
        font-family: KumbhSans-Bold, sans-serif;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.03em;
        margin: 15px 0 15px 0;

      }


      .stars {
        width: 115px;
        height: 20px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .star{
          color: $main-text-color;
          font-size: 20px;
          cursor: pointer;
        }
        .star.checked {
          color: orange;
        }
      }
      .confirm-btn{
        position: absolute;
        right: 10px;
        display: none;
        button{
          @extend %mainBtn;
          width: 100px;
          

        }
      }
      .confirm-btn.active{
        display: block;
      }
    }
  }
}

.section-btn {
  @extend %display-flex;
  justify-content: center;
  width: 100%;
  margin-top: 53px;

  button {
    @extend %mainBtn;
    font-family: KumbhSans-Regular, sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 250px;
    height: 42px;
    border-radius: 10px;

    a {
      color: #ffffff;
    }
  }
}

.section-blogs {
  padding: 97px 0;

  .title {
    width: 100%;
    @extend %display-flex;
    justify-content: center;
    margin-bottom: 63px;

    span {
      @extend %section-title;
      text-align: center;
      width: 680px;
      height: 112px;
      color: $main-title-color;
    }

  }

  .cards {
    @extend %display-flex;
    width: 100%;

    .card {
      width: 356px;
      height: 372px;
      border: 1px solid #EDEFF5;

      &:nth-child(2) {
        .card-head {
          background: url("../images/jpg/blog-2.jpg");
        }
      }

      &:last-child {
        .card-head {
          background: url("../images/jpg/blog-3.jpg");
        }
      }


      .card-head {
        width: 100%;
        height: 160px;
        background: url("../images/jpg/blog-1.jpg");
      }

      .card-body {
        padding: 24px 28px;

        .title {
          font-family: KumbhSans-Bold, sans-serif;
          font-size: 24px;
          line-height: 32px;
          color: $main-title-color;
          margin-bottom: 12px;
        }

        .text {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -3%;
          color: $main-text-color;
        }
      }
    }
  }
}

.section-guide {
  margin-bottom: 200px;

  .content {
    @extend %display-flex;

    .info-content {
      .title {
        @extend %section-title;
        width: 490px;
        height: 168px;
      }

      .text {
        font-size: 22px;
        line-height: 33px;
        color: $main-text-color;
        width: 550px;
        height: 200px;

        p {
          margin-top: 10px;
          width: 100%;
          font-size: 17px;
          line-height: 21px;
        }
      }

      .section-btn {
        justify-content: start;
        margin-top: 22px;

      }

    }

    .card {
      position: relative;
      width: 446px;
      height: 581px;
      background-color: #3F367A;
      overflow: hidden;
      padding: 50px 40px;


      > .title {
        @extend %section-title;
        color: #ffffff;
        width: 218px;
        height: 245px;
        position: absolute;
        z-index: 3;

      }

      &::after {
        content: '';

        position: absolute;
        right: -23%;
        bottom: -14%;
        overflow: hidden;
        border-top-left-radius: 70%;
        border-bottom-left-radius: 70.4%;
        border-top-right-radius: 70%;
        width: 443px;
        height: 443px;
        background: {
          image: url("../images/jpg/guide.jpg");
          repeat: no-repeat;


        }

      }

      .card-footer {
        position: absolute;
        bottom: 10px;
        left: 0;

        background: #413A7D4D;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 4;

        .link {

          .title {
            a {
              font-size: 12px;
              line-height: 24px;
              color: #ffffff;
              font-family: KumbhSans-Bold, sans-serif;
              position: relative;
              overflow: auto;

              &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                background: {
                  image: url("../images/svg/link-icon.svg");
                  repeat: no-repeat;
                  size: cover;
                };
                left: -23%;
                top: -5px;


              }
            }

          }

          span {
            font-size: 8px;
            line-height: 18px;
            font-family: KumbhSans-Regular, sans-serif;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.section-cta {
  .container {
    position: relative;
    display: flex;
    margin-bottom: 96px;

  }

  .overlay {
    width: 95%;
    height: 480px;
    position: absolute;
    left: -8px;
    top: 0;
    background: #FAF8F6;
    z-index: -1;
    border-radius: 50px;
  }

  .content {
    padding: 50px 0 50px 50px;

    .title {
      @extend %section-title;
      font-size: 36px;
      line-height: 47px;
      width: 550px;
      height: 90px;
    }

    .text {
      color: $main-text-color;
      font-size: 20px;
      line-height: 30px;
      margin: 20px 0 40px 0;
    }

    button {
      @extend %mainBtn;
      width: 250px;
      height: 42px;
      border-radius: 10px;
    }
  }

  .section-image {
    margin-left: 48px;
    background: {
      image: url("../images/jpg/hero-2.jpg");
      size: 147%;
      position: 14% 23%;
    };
    border-bottom-right-radius: 50px;
    width: 560px;
    transform: translateY(48px);
    padding: {
      top: 20px;
      left: 20px;
    };
    height: 432px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    outline: none;
    width: 84px;
    height: 32px;
    background: #ffffff;
    color: #20AD96;

    img {
      margin-right: 8px;
    }
  }
}

footer {
  .footer-head {
    background: #FAF8F6;

    .container {
      padding: 68px 0;
      @extend %display-flex;
      justify-content: flex-start;

      .content {
        margin-right: 32px;

        .title {
          @extend %section-title;
          font-size: 30px;
          line-height: 38px;
        }

        .text {
          color: $main-text-color;
          font-size: 20px;
          line-height: 30px;
        }
      }

      form {
        input[type='submit'] {
          @extend %mainBtn;
        }
      }
    }

    #email {
      width: 280px;
      height: 44px;
      border-radius: 6px;
      border: none;
      margin-right: 16px;
      padding: {
        left: 14px;
      };

      &::placeholder {
        color: #C1C4CC;
        font-size: 16px;
        line-height: 24px;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }
  .footer-body{
    .container{
      @extend %display-flex;
      align-items: start;
      margin: 64px 0;
    }
    .footer-info{
      .logo{
        margin-bottom: 32px;
      }
      .text{
        width: 320px;
        font-size: 16px;
        line-height: 24px;
        color: $main-text-color;
      }

    }
    .title{
      font-family: KumbhSans-ExtraBold, sans-serif;
    }
    .footer-menu{

    }
  }
}


//media query
@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  nav {
    width: 100%;
    height: 60px;

    .container {
      padding: 0;
    }
  }


  .logo {
    margin-right: 0;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .navbar {
    position: relative;
    top: -25px;
    z-index: 12;

    .nav-menu {
      display: block;
      position: absolute;
      right: -100%;
      width: 100%;
      transition: 0.33s linear;
      height: 100vh;
      top: -5px;

      .nav-list {
        padding: 10px;
      }
    }

    .navbar.active {
      height: 100vh;
    }

    .nav-menu.active {
      right: 0;
      background-color: black;

      .nav-link {
        color: #ffffff;
      }
    }

  }
  .section-review, .section-blogs {
    padding: 50px 0;

    .title {
      width: 70%;
      margin-bottom: 100px;
      font-size: 38px;
      line-height: 48px;
    }

    .cards {
      flex-direction: column;

      .card {
        margin-bottom: 20px;
      }
    }
  }
  .burger-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.33s linear;
    background: transparent;
    border: none;
    z-index: 11;
    outline: none;

    span {
      position: relative;
      display: inline-block;
      width: 50px;
      background-color: #000000;
      height: 3px;

      &::before, &::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 100%;
        background-color: #000000;
        height: 3px;
        top: 10px;
        left: 0;
        transition: 0.33s linear;
      }

      &::before {
        top: -10px;
      }
    }
  }

  .burger-menu.active span {
    transition: 0.33s linear;
    background: transparent;

    &::before, &::after {
      transform: rotate(45deg);
      background-color: white;
      top: 0;
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
  .section-hero {
    display: block;

    .hero-info {
      .sup-title {
        padding-top: 60px;
      }

      .title {
        font-size: 54px;
        line-height: 64px;
        width: inherit;
        height: inherit;
      }

      button {
        margin-bottom: 0;
      }
    }

    .hero-image {
      .image {
        translate: 13% 10%;
        width: 400px;
      }

      .hero-overlay {
        translate: 36% -45.5%;
      }
    }
  }
  .section-introduction {
    .row {
      margin-bottom: 40px;

      .title:first-child {
        width: 80%;
        margin-bottom: 20px;
      }

      flex-direction: column;

      .card {
        width: 100%;
        height: auto;
        padding: 0;
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }

        .card-footer {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 100%;
            height: 3px;
            background-color: $main-title-color;
          }
        }
      }
    }
  }
  .section-blogs {
    .title {
      display: block;

      span {
        font-size: 36px;
        line-height: 48px;
        text-align: left;
      }
    }
  }
}

@media (min-width: 1440px) {
  nav {
    width: 1440px;
    margin: 0 auto;
  }
}




